extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 David Barth 

       
        p.lead.text-light
          | Javascript Full Stack Master 

       
        .portfolio-bio
          p
            |  This is it.  You have arrived to my page. Well Done.  Do you feel happy?  Because I do.  
            |  I feel excellent.  I am a JS man that will blow you away.  Yeah, so that's my elevator pitch. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li Express
          li Javascript
          li AJAX
          li CSS
          li HTML  
          li Node.js 
          li Promise based Javascript
          li Fetch API 
          li Debugging
          li Git/GitHub
        h6 Contact Info

       
        ul
          li 123-456-7899
          li dzb20045@junkmail.com

        
        a.button.expanded(href='https://www.linkedin.com/in/david-barth-96a09aa7/') LinkedIn
        a.button.expanded(href='https://github.com/david-barth') GitHub
        a.button.expanded(href='https://www.instagram.com/david.winter.barth/') Instagram
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  